<footer class="site-footer">

  <div class="wrapper">

    <!-- <h2 class="footer-heading">{{ site.title }}</h2> -->

    <div class="footer-col-wrapper">


      <div class="footer-col footer-col-1">
        <h4>{{ site.title }}</h4>
        <p>{{ site.description }}</p>

        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="JDBFW59XBZVSW">
          <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
          <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
        
      </div>

      <div class="footer-col footer-col-2">
      </div>

      <div class="footer-col footer-col-3">

        <ul class="contact-list">
        </ul>

        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.facebook_username %}
          <li>
            {% include icon-facebook.html username=site.facebook_username %}
          </li>
          {% endif %}


          <!-- <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li> -->

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}


          {% if site.email %}
          <li>
            {% include icon-email.html email=site.email %}
          </li>
          {% endif %}

        </ul>
      </div>

    </div>

  </div>

</footer>
